fl {
    animation-duration: 4s;
    animation-name: Appear;
}

@keyframes Appear {
    from {
        opacity: 0;
    }

    to {
        opacity:1;
    }   
}

st {
    animation-duration:1s;
    animation-name:app-start;
}

st2 {
    animation-duration:2s;
    animation-name:app-start;
}

st3 {
    animation-duration:3s;
    animation-name:app-start;
}

st4 {
    animation-duration:4s;
    animation-name:app-start;
}

st5 {
    animation-duration:5s;
    animation-name:app-start;
}

st6 {
    animation-duration:6s;
    animation-name:app-start;
}


@keyframes app-start {
    from {
        transform:translateY(5vh);
        opacity: 0;
    }

    to {
        transform:translateY(0);
        opacity:1;
    }
}

danbox {
    translate:0 0;
    transition: translate 0.3s;
}

danbox:hover {
    translate:0.3vw 0;
}

new-box {
    translate:0 0;
    transition: translate 0.3s;
}

new-box:hover {
    translate:0 -0.5vh;
}


.card {
    translate:0 0;
    transition: translate 0.3s;
}

.card:hover {
    translate:0 -1.5vh;
}