st {
    animation-duration:1s;
    animation-name:app-start;
}

@keyframes app-start {
    from {
        translate:0 5vh;
        opacity: 0;
    }

    to {
        translate:0 0;
        opacity:1;
    }
}

st2 {
    animation-duration:2s;
    animation-name:app-start2;
}

@keyframes app-start2 {
    from {
        translate:0 5vh;
        opacity: 0;
    }

    to {
        translate:0 0;
        opacity:1;
    }
}
st3 {
    animation-duration:3s;
    animation-name:app-start3;
}

@keyframes app-start3 {
    from {
        translate:0 5vh;
        opacity: 0;
    }

    to {
        translate:0 0;
        opacity:1;
    }
}

.card {
    translate:0 0;
    transition: translate 0.3s;
}

.card:hover {
    translate:0 -1.5vh;
}