body {
    max-width:1200px;
    margin:auto;
    background-image:url(grain.png);
    background-size: 0.5;
    background-repeat:repeat;
    overflow-x:hidden;
}

h1 {
    font-size: 4rem;
}

h1::before,
h1::after {
    display: inline-block;
    content: "";
    border-top: 3px solid #f36983;
    width:10vw;
    margin: 0 1rem;
    transform: translateY(-1rem);
    border-radius:2px;
}

header {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:5px 50px 10px 80px;
    border:8px solid #f36983;
    background-color:#ffdabd;
    background-image:url(bg.png);
    background-position:0 70%;
    background-size:cover;
    border-top:#ffa39900;
    border-radius:0 0 60px 60px;
}

korone {
    display: flex;
    align-items: center;
}


headers {
    display:flex;
    justify-content:space-evenly;
}

txt {
    font-family:Casagrande;
    font-size:50px;
    color:#f36983;
}

txt:hover {
    cursor: default;
}

player {
    border-radius:30px;
    background:#f36983;
    border:5px solid #f36983;
    display:grid;
    padding:2px;
    justify-content:center;
    width:fit-content;
    margin:10px auto;
}

insidePlayer {
    border-radius:23px;
    padding:10px 20px;
    background:white;
    display:flex;
    justify-content:center;
    width:fit-content;
}

updt {
    font-family:Casagrande-Reg;
    font-size:1.4em;
    color:white;
    text-align: center;
}

info-p {
    display:grid;
    align-content:space-around;
    margin-left:1em;
    margin-right:5em;
}

infoL {
    font-family:Arista;
    font-size:1.8em;
    color:#f36983;  
}

nick {
    padding:10px 30px;
    border-radius:40px;
    background:#f36983;
    font-family:Arista-Bold;
    color:white;
    font-size:3em;
}

zones {
    display:flex;
    align-items:center;
}

zone {
    font-family:Arista;
    font-size:2em;
    color:#f36983;  
}

zone::before {
    content:"";
    margin:auto 0.5em auto;
    border:2px solid #f36983; 
    border-radius:10px;
}

last {
    margin-left:1em;
    display:grid;
    justify-content:end;
    align-content:center;
}

lst-t {
    font-family:Casagrande;
    font-size:2em;
    color:#f36983;
    text-align:center;
}

tour-box {
    display:block;
    background:#f36983;
    padding:10px;
    border-radius:20px;
    margin:1vw 0;
}

tour {
    display:flex;
    align-items:center;
}

time {
    margin-left:0.3em;
    padding:5px 12px;
    font-family:Arista-Bold;
    color:#f36983;
    font-size:1.7em;
    background:white;
    border-radius:20px;
}

info-m {
    display:flex;
}

tit-b {
    margin-left:10px;
    display:grid;
    align-content:space-evenly;
    justify-content:center;
}

tit-b a {
    font-family:Arista-Bold;
    color:white;
    font-size:2.4em;
    text-decoration:none;
}

tags {
    display:flex;
}

role {
    font-family:Arista;
    color:#f36983;
    font-size:1.4em;
    border-radius:20px;
    background:white;
    padding:5px 10px;
}

tag {
    font-family:Arista;
    color:#f36983;
    font-size:1.4em;
    border-radius:20px;
    background:white;
    padding:5px 10px;
    margin:0 0.1em;
}

roletags {
    display:flex;
    justify-content:center;
    align-items:center;
}

roletags::before {
    content:"";
    margin:auto 0.8em auto;
    border:3px solid rgb(255, 255, 255);
    border-radius:10px;
}

.colps {
    font-family:Arista;
    font-size:1.1em;
    user-select: none;
    display:block;
    margin-left:auto;
    margin-right:0;
    margin-top:auto;
    margin-bottom:0;
    background-color:white;
    padding:10px;
    border-radius:20px;
    transition: background-color 0.3s;
}

.colps:hover {
    background-color:rgb(212, 212, 212);
}

.contnD, .contnG, .contnS, .contnN, .contnM2, .contnD6, .contnSAB, .contnBR2I, .contnGBC25Au, .contnTTI, .contnNCC, .contnATF1 {
    display:grid;
    margin-top:10px;
    background:white;
    border-radius:20px;
    padding:0;
    max-height:0;
    opacity:0;
    overflow:hidden;
    transition:max-height 0.4s ease-out, opacity 0.5s, padding 0.3s ease-in-out;
}

exmp {
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-family:Arista;
    font-size:2em;
}

.exmpl {
    clip-path:xywh(0 0 100% 100% round 20px)
}

.contnD a, .contnS a, .contnG a, .contnM2 a, .contnN a, .contnD6 a, .contnSAB a, .contnBR2I a {
    display:flex;
    justify-content:space-around;
    margin-top:10px;
    text-decoration:none;
    border-radius:20px;
    background-color:#f36983;
    color:white;
    font-family:Arista-Bold;
    font-size:1.5em;
    text-decoration:none;
    transition: background-color 0.3s;
    padding:6px;
}

.contnD a:hover, .contnS a:hover, .contnG a:hover, .contnM2 a:hover, .contnN a:hover, .contnSAB a:hover, .contnBR2I a:hover{
    background-color:#ee5d78;
}

.ic {
    clip-path:xywh(0 0 100% 100% round 20px)
}
